<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="utf-8">


    <title th:text="${title}"></title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css"
          th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <!--<link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/jumbotron.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/form-validation.css}"/>


</head>
<body>

<div th:replace="nav-header.html :: header"></div>

<main role="main">
    <div class="container">


        <div class="py-5 text-center">
            <img class="d-block mx-auto mb-4" th:src="@{/css/profile.png}" alt="" width="72" height="72">
            <h2 th:text="${username}"></h2>
            <p class="lead"></p>
        </div>

        <div class="row">

            <div class="col-md-8 order-md-1 center-div">
                <div class="row"><h4 class="mb-3">My Profile</h4>
                    <span class="mb-8">
                     <button type="button" class="btn btn-sm btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">edit</button>
                    </span>
                </div>
                <form>

                    <div class="mb-3">
                        <label for="username">Username</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                            </div>
                            <input th:value="${username}" type="text" class="form-control" id="username"
                                   placeholder="Username" required>

                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="email">Email <span class="text-muted">(Optional)</span></label>
                        <input th:value="${email}" type="email" class="form-control" id="email"
                               placeholder="you@example.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="email">Contact No <span class="text-muted">(Optional)</span></label>
                        <input th:value="${contact}" class="form-control" id="contact"
                               placeholder="019-xxxxxxx" required>
                    </div>

                    <div class="mb-3">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="1234 Main St" required>
                    </div>

                    <div class="mb-3">
                        <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
                        <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                    </div>

                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="country">Country</label>
                            <select class="custom-select d-block w-100" id="country" required="">
                                <option value="">Choose...</option>
                                <option>United States</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid country.
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="state">State</label>
                            <select class="custom-select d-block w-100" id="state" required="">
                                <option value="">Choose...</option>
                                <option>California</option>
                            </select>
                            <div class="invalid-feedback">
                                Please provide a valid state.
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="zip">Zip</label>
                            <input type="text" class="form-control" id="zip" placeholder="" required="">
                            <div class="invalid-feedback">
                                Zip code required.
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4">

                    <h4 class="mb-3">Industrial Supervisor Name</h4>


                    <div class="mb-3">
                        <label for="email">Name <span class="text-muted">(Optional)</span></label>
                        <input type="email" class="form-control" id="supervisorName" placeholder="John" required>
                    </div>

                    <div class="mb-3">
                        <label for="address">Contact No</label>
                        <input type="text" class="form-control" id="supervisorContactNo" placeholder="012-xxxxxxx" required>
                    </div>

                    <div class="mb-3">
                        <label for="address">Email</label>
                        <input type="text" class="form-control" id="supervisorEmail" placeholder="1234 Main St" required>
                    </div>

                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Update</button>
                </form>
            </div>
        </div>


    </div>
</main>

<div th:replace="footer.html :: footer"></div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>


</body>
</html>